.detail{
    margin-top: 70px !important;
    margin-left: 20px;
    font-size: 22px;
}
.Home {
    margin-top: 70px !important;
}
.create {
    margin-left: 40px !important;
    margin-bottom: 40px !important;
    width: 500px ;

}